{% extends "layout.html" %}
{% load bootstrap4 %}
{% load i18n %}


{% block search_bar %}

{% trans "Filter" as filter %}

<div class="container">
    <form class="form card card-block card-body bg-light" method="get">

        <h3 class="card-title">{% trans "List of templates" %}</h3>
        <p class="card-text">{% trans "This form can be used to filter specific template(s)" %}.</p>

        <div class="row" align="center">

            <div class="col-lg-5">
                {% bootstrap_field form.reference %}
            </div>

            <div class="col-lg-5">
                {% bootstrap_field form.subject %}
            </div>

            <div class="col-lg-2">
                {% bootstrap_button "Filter" button_type="submit" button_class="btn-info" size="md" %}
            </div>

            <div class="col-lg-5">
                {% bootstrap_field form.content %}
            </div>

            <div class="col-lg-5">
                {% bootstrap_field form.format %}
            </div>

            <div class="col-lg-2">
                {% if request.user.is_authenticated and perms.caesar.add_template %}
                    <a class="btn btn-success" href="{% url 'caesar:template_add' %}">
                        {% trans "New template" %}
                    </a>
                {% endif %}
            </div>

        </div>

    </form>
</div>

{% endblock search_bar %}


{% block content %}

<div class="container">
    <table class="table table-striped">
        {% if object_list %}
            <tr align="center">
                <th>{% trans "Reference" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Content" %}</th>
                <th>{% trans "Format" %}</th>
            </tr>

            {% for template in object_list %}
                <tr align="center">
                    <td>
                        <a href="{% url 'caesar:template_detail' pk=template.pk %}">
                            {{ template.reference }}
                        </a>
                    </td>
                    <td>
                        {{ template.subject }}
                    </td>
                    <td>
                        {{ template.content|truncatechars:175 }}
                    </td>
                    <td>
                        {{ template.format }}
                    </td>
                </tr>
            {% endfor %}

        {% endif %}
    </table>

</div>

{% endblock content %}
